@import "./fonts/inter/web/inter.css";

:root {
    font-feature-settings: "ss03", "cv02", "cv11";
    font-variation-settings: normal;
    --c-grey-100: #f4f6f8;
    --c-grey-200: #e3e3e3;
    --c-grey-300: #b2b2b2;
    --c-grey-400: #7b7b7b;
    --c-grey-500: #3d3d3d;
    --c-blue-500: #2854e6;
    --c-energy-500: #f9a826;
}

* {
    scroll-behavior: smooth;
}

html {
    font-family: Inter, sans-serif;
    color: var(--c-grey-500);
}
