*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--light-background);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar {
    width: 20px;
    height: 2px;
    background-color: var(--light-background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}
::-webkit-scrollbar-corner {
    background: var(--light-background);
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--light-background) #cccccc;
}

.s-loading {
    margin-bottom: 10px;
}
